<!-- HEADER -->
<header>
  <nav class="navbar navbar-expand-lg p-3 mb-2 shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../">Teamsite Docs</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Content Center Professional
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/pages/ccpro/componentes.html"
                  >Componentes</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/pages/ccpro/templates.html"
                  >Templates (xsl)</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/pages/ccpro/assets.html">Assets</a>
              </li>
              <li>
                <a class="dropdown-item" href="/pages/ccpro/dcrs.html">DCRs</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Experience Studio
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/pages/estudio/pages.html">Pages</a>
              </li>
              <li>
                <a class="dropdown-item" href="/pages/estudio/templates.html"
                  >Templates</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/pages/estudio/dcrs.html">DCRs</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Ir a
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://ui.public.awsalphadevqa.com/iw-cc/command/iw.ccpro.switch_ui"
                  >CCPro DEVQA</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://ui.public.awsalphadevqa.com/estudio/#/project/Errepar/sites/errepar/pages"
                  >EStudio DEVQA</a
                >
              </li>
              <li><hr /></li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://ui.public.awsalphaprod.com/iw-cc/command/iw.ccpro.filesys"
                  >CCPro PROD</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://ui.public.awsalphaprod.com/estudio/#/project/Errepar/sites/errepar/pages"
                  >EStudio PROD</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- HEADER FINISHES -->
