.main-section {
  img {
    width: 550px;
    max-width: 100%;
    display: block;
    box-shadow: $shadow;
    margin: 5px 0;
    cursor: zoom-in;

    &.fullscreen {
      z-index: 2;
      @extend .center;
      position: fixed;
      cursor: zoom-out;
      width: 90%;
      @include desktop {
        width: unset;
        height: 95vh;
      }
    }
  }
}
