.main-section {

  ul,
  ol {
    li {
      padding: 1rem;
      background-color: $grisLight;
      margin-bottom: 1.4rem;
      border-radius: $borderRadius;

      p:last-of-type {
        margin-bottom: 0;
      }

      ul li, ol li {
        padding: .3rem;
        margin: .3rem 0;
        background-color: $lightBlue;
        border-bottom: 1px $darkGray solid;
        border-radius: 0;
      }
    }
  }
}
