iframe.video {
  display: block;
  width: 100%;
  height: 40vh;
  margin: 2.4rem 0;

  @include tablet {
    height: 60vh;
  }
  @include desktop {
    height: 80vh;
  }
  @include large {
    height: 100vh;
  }
}
